@charset "utf-8";
/* CSS Document */

* {
	box-sizing: border-box;
}

html {
	
	font-family: 'Montserrat', sans-serif;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.header * {
	display: inline-block;
}

.header img {
	height: 128px;
	margin-right: 1rem;
}

.header span {
	color: #cc2e2e;
	font-size: 64pt;
	font-weight: 900;
	letter-spacing: 1rem;
	font-style: italic;
}

.main {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin-top: 100vh;
	background: #fff;
	height: 100vh;
}

.bg-vid {
	position: fixed;
	top: 0;
	height: 100%;
	left: 50%;
	transform: translate(-50%);
	z-index: -2;
	filter: blur(2px);
}

.section-header {
	color: #cc2e2e;
	font-size: 32pt;
	font-weight: 900;
	letter-spacing: 1rem;
	text-align: center;
	font-style: italic;
}

.horizontal-list {
	position: relative;
	display: flex;
	flex-direction: row;
    white-space: nowrap;
}

.card {
	position: relative;
	width: 256px;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	margin-right: 2rem;
	cursor: pointer;
	box-shadow:
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 100px 80px rgba(0, 0, 0, 0.07);
	transition: box-shadow 0.4s;
}

.card:hover {
	box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.07)
;

}

.card img {
	width: 100%;
}

.card span {
	position: relative;
	display: block;
	width: 100%;
	font-size: 11pt;
	font-weight: 900;
	font-style: italic;
	letter-spacing: 0.25rem;
	text-align: center;
}

.navbar {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: 4rem;
	background: #fff;
	display: flex;
	flex-direction: row;
	padding: 0.5rem;
	box-shadow:
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
	0 100px 80px rgba(0, 0, 0, 0.07);
	align-items: center;
}

.navbar img {
	height: 100%;
}

.navbar span {
	margin-left: 0.5rem;
	font-size: 16pt;
	font-weight: 900;
	font-style: italic;
	letter-spacing: 0.5rem;
}